/* Shop Page Design */
.shop-thumb .shop-action a {
	width: 45px;
	height: 45px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #fff;
	box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
	color: var(--tg-theme-primary);
	border-radius: 50%;
	font-size: 15px;
	opacity: 0;
	visibility: hidden;
	transform: translateY(20px);
	transition: visibility .3s ease-out .1s, opacity .3s ease-out .15s, transform .3s ease-out .1s;
}
.shop-thumb .shop-action .add-cart-btn,
.shop-thumb .shop-action .wc-forward {
	transition-delay: .10s;
}
.shop-thumb .shop-action .tinv-wraper {
    transform: translateY(20px);
    transition: visibility .3s ease-out .1s, opacity .3s ease-out .15s, transform .3s ease-out .1s;
	transition-delay: .15s;
}
.shop-thumb .shop-action .tinv-wraper a {
    transform: translateY(0);
}
.shop-thumb .shop-action .woosq-btn {
	transition-delay: .20s;
}
.shop-thumb .shop-action a:hover,
.shop-thumb .shop-action .tinvwl-product-in-list {
	color: #fff;
	background: var(--tg-theme-primary);
}
.shop-thumb .shop-action a.added {
    display: none;
}
.shop-item .added_to_cart.wc-forward {
    background: var(--tg-theme-primary);
    color: #fff;
    font-size: 0;
}
a.added_to_cart.wc-forward::after {
    content: '✔';
    position: relative;
    font-size: 16px;
    font-weight: 700;
    font-family: inherit;
}
.shop-item:hover .shop-thumb .shop-action a,
.shop-item:hover .shop-thumb .shop-action .tinv-wraper {
	transform: translateX(0);
	opacity: 1;
	visibility: visible;
}

.shop-content .price del {
    opacity: .7;
}
.shop-content .price ins {
    text-decoration: none;
}
.eduvalt-product-main > .woosq-btn,
.eduvalt-product-main > .tinv-wraper {
    display: none;
}
.on-sale-wrap {
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 2;
}
.shop-item .on-sale-wrap {
    right: auto;
    left: 0;
    top: 0;
}
.woocommerce span.onsale {
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 30px;
    min-height: 30px;
    min-width: auto;
    position: relative;
    content: "";
    cursor: pointer;
    margin: 0 13px 0 0;
    padding: 0 10px 0 11px;
    border: none;
    -webkit-border-radius: 4px 1px 1px 4px;
    border-radius: 4px 1px 1px 4px;
    text-align: center;
    text-transform: uppercase;
    line-height: 29px;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    background-color: var(--tg-theme-primary);
    color: #fff;
    font-size: 13px;
    left: 0;
    top: 0;
}
.single div.product .on-sale::before,
.woocommerce span.onsale::before {
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    z-index: -1;
    width: 21px;
    height: 21px;
    position: absolute;
    content: "";
    cursor: pointer;
    top: -1px;
    right: -15px;
    margin: 5px;
    border: none;
    -webkit-border-radius: 1px 1px 4px;
    border-radius: 1px 1px 4px;
    color: #fff;
    -o-text-overflow: clip;
    text-overflow: clip;
    background-color: var(--tg-theme-primary);
    text-shadow: none;
    -webkit-transform: rotateY(1deg) rotateZ(-45deg);
    transform: rotateY(1deg) rotateZ(-45deg);
}
.shop-action .tinvwl_add_to_wishlist-text {
    display: none;
}
.shop-action .tinvwl_add_to_wishlist_button::before {
    margin: 0 !important;
}
.shop-action .product_type_grouped .fa-shopping-basket,
.shop-action .product_type_variable .fa-shopping-basket {
    font-weight: 700;
}
.shop-action .product_type_grouped .fa-shopping-basket:before,
.shop-action .product_type_variable .fa-shopping-basket:before {
    content: "\f0ca";
}

/* Shop Details */
.shop-details-img-wrap.woocommerce-product-gallery .flex-viewport {
    background: #e8e8e8;
    text-align: center;
}
.woocommerce #content div.product div.images,
.woocommerce div.product div.images,
.woocommerce-page #content div.product div.images,
.woocommerce-page div.product div.images {
    float: unset;
    width: 100%;
}
.woocommerce #content div.product div.summary,
.woocommerce div.product div.summary,
.woocommerce-page #content div.product div.summary,
.woocommerce-page div.product div.summary {
    float: unset;
    width: 100%;
    clear: none;
}
.shop-details-flex-wrap .flex-viewport {
    margin-left: 140px;
}
.woocommerce div.shop-details-flex-wrap div.images .flex-control-thumbs {
    overflow: hidden;
    zoom: 1;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 119px;
    gap: 20px;
}
.woocommerce div.shop-details-flex-wrap div.images .flex-control-thumbs li {
    width: 100%;
    float: unset;
}
.woocommerce div.product div.images .flex-control-thumbs li img {
    background-color: #e8e8e8;
    text-align: center;
    padding: 10px;
}
.woocommerce div.product .product_title {
    font-size: 30px;
}
.shop-details-price {
    display: flex;
    align-items: center;
    font-family: var(--tg-heading-font-family);
    margin: 15px 0 22px;
    column-gap: 10px;
}
.shop-details-price .woocommerce-Price-amount,
.shop-details-price del,
.shop-details-price ins {
    font-size: 24px;
    font-weight: 500;
    line-height: 1;
    margin-bottom: 0;
    color: var(--tg-theme-primary);
}
.shop-details-price ins {
    text-decoration: none;
}
.woocommerce-product-details__short-description {
    margin-bottom: 30px;
}
.shop-perched-info form,
.variation-shop-perched-info {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.shop-perched-info .quantity {
    margin-right: 12px !important;
    margin-bottom: 12px !important;
}
.woocommerce .quantity {
    width: 116px;
    flex: 0 0 116px;
    position: relative;
    float: unset !important;
}
.woocommerce .quantity input.qty {
    background-color: #fff;
    width: 100%;
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    height: 48px;
    text-align: center;
    padding: 0 30px;
    font-size: 16px;
    color: var(--tg-heading-color);
    font-weight: 600;
}
.woocommerce .quantity .qty_button {
    position: absolute;
    top: 0;
    left: 0;
    width: 31px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 600;
    color: var(--tg-body-color);
    cursor: pointer;
    border-right: 1px solid #e1e1e1;
    user-select: none;
    -moz-user-select: none;
    font-family: var(--tg-heading-font-family);
}
.woocommerce .quantity .qty_button.plus {
    left: auto;
    right: 0;
    border-right: none;
    border-left: 1px solid #e1e1e1;
}
.woocommerce .quantity .qty_button.minus {
    font-size: 18px;
}
.cart-btn,
.shop-perched-info form>.cart-btn,
.woocommerce div.product form.cart .button {
    display: flex;
    align-items: center;
    border: 1px solid var(--tg-theme-primary);
    background: var(--tg-theme-primary);
    border-radius: 5px;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    padding: 16px 16px;
    min-width: 145px;
    justify-content: center;
    margin-bottom: 12px;
    margin-right: 12px;
    text-transform: uppercase;
    line-height: 1;
}
.cart-btn:hover,
.shop-perched-info form>.cart-btn:hover,
.woocommerce div.product form.cart .button:hover {
    background: var(--tg-theme-secondary);
    border-color: var(--tg-theme-secondary);
}
.shop-perched-info .tinvwl-after-add-to-cart {
    display: none !important;
}
.shop-details-content .tinv-wraper.tinv-wishlist {
    font-weight: 500;
    font-family: var(--tg-heading-font-family);
    font-size: 15px;
    margin: 15px 0 0;
}
.shop-details-flex-wrap {
    position: relative;
}
.shop-details-content .shop-single-rating {
    margin: 0 0 10px;
}
.details-rating i {
    color: #F8BC24;
    font-size: 15px;
    margin-right: 3px;
}
.shop-details-bottom {
    margin: 30px 0 0;
    padding-top: 23px;
    border-top: 1px solid #E6EAEF;
    font-size: 16px;
}
.shop-details-bottom > span {
    display: block;
    margin-bottom: 10px;
    color: var(--tg-body-color);
    font-weight: 500;
    margin-right: 5px;
}
.shop-details-bottom > span:last-child {
    margin-bottom: 0;
}
.shop-details-bottom > span > span {
    font-weight: 500;
    margin-left: 5px;
}
.shop-details-bottom>* {
	margin-bottom: 5px;
}
.shop-details-bottom div:last-child {
	margin-bottom: 0;
}
.shop-details-bottom b {
	font-weight: 500;
	color: var(--tg-heading-color);
}
.shop-details-bottom .sku,
.shop-details-bottom a {
    color: var(--tg-body-color);
    margin-left: 3px;
    font-weight: 400;
    display: inline-block;
}
.shop-details-bottom a:hover {
    color: var(--tg-theme-primary);
}

/* Description tab */
.woocommerce-Tabs-panel>h2 {
    display: none;
}

/*=============================
    Shop Review
==============================*/
.woocommerce-Reviews-title {
    font-size: 22px;
    margin: 0 0 .8rem;
}
#review_form_wrapper {
    margin: 45px 0 0;
}
#review_form_wrapper .comment-form {
    background: #fff;
    border: 1px dotted #E6EAEF;
    padding: 50px;
    border-radius: 10px;
}
.woocommerce-Reviews span#reply-title {
    display: block;
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    color: var(--tg-heading-color);
    padding-bottom: 15px;
    margin-bottom: 30px;
    border-bottom: 1px solid #E6EAEF;
}
.woocommerce #review_form label {
    margin-bottom: 15px;
    line-height: 1;
    display: block;
}
.woocommerce #review_form label span,
.woocommerce p.stars a:hover {
    color: var(--tg-theme-primary);
}
.woocommerce #review_form_wrapper .comment-field input,
.woocommerce #review_form_wrapper .comment-field textarea {
    border: 1px solid #CDDBE9;
    padding: 11px 20px;
}
body.woocommerce #review_form_wrapper .form-submit [type=submit]#submit {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background: var(--tg-theme-primary) none repeat scroll 0 0;
    border: medium none;
    border-radius: 6px;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 1;
    margin-bottom: 0;
    padding: 18px 35px;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
body.woocommerce #review_form_wrapper .form-submit [type=submit]#submit:hover {
    background: var(--tg-theme-secondary);
}
.woocommerce #reviews #comments ol.commentlist li img.avatar {
    margin-top: 0;
    margin-right: 25px;
    width: 65px;
    height: 65px;
    border-radius: 5px;
    float: unset;
    position: unset;
    border: none;
    padding: 0;
}
.woocommerce #reviews #comments ol.commentlist li .comment-text {
    margin: 0 0;
    border: none;
    border-radius: 0;
    padding: 0 0;
}
.woocommerce-Reviews .comment_container {
    display: flex;
    margin-top: 30px;
    margin-bottom: 20px;
}
.woocommerce-Reviews .commentlist {
    padding-left: 0;
    list-style: none;
    margin-top: 30px;
}
.woocommerce .star-rating {
    position: relative;
    font-size: 15px;
    width: 100px;
    overflow: hidden;
    line-height: 1;
    margin-bottom: 10px;
    color: #F8BC24;
    float: unset;
    height: auto;
    font-family: star;
}
.woocommerce .star-rating::before {
    font-family: "Font Awesome 5 Free";
    content: '\f005\f005\f005\f005\f005';
    text-transform: uppercase;
    letter-spacing: 3px;
    color: inherit;
    float: none;
    position: unset;
}
.woocommerce .star-rating span {
    overflow: hidden;
    float: unset;
    top: 0;
    left: 0;
    position: absolute;
    padding-top: 0;
}
.woocommerce .star-rating span::before {
    font-family: "Font Awesome 5 Free";
    content: '\f005\f005\f005\f005\f005';
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #F8BC24;
    font-weight: 900;
    position: unset;
}
.woocommerce-Reviews .comment-text p.meta {
    margin-bottom: 5px !important;
}
strong.woocommerce-review__author {
    font-size: 18px;
    color: var(--tg-heading-color);
    text-decoration: none;
    font-family: var(--tg-heading-font-family);
    font-weight: 500;
    text-transform: capitalize;
}
.woocommerce-review__published-date {
    font-size: 15px;
}
.woocommerce-Reviews .comment-form .comment-field {
    margin-bottom: 25px;
}
.comment-form-rating {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 20px;
}
.comment-form-rating label {
    width: 100%;
    flex: 0 0 auto;
}
.woocommerce p.stars {
    line-height: 1;
}
.woocommerce-Reviews .comment-form .comment-field input {
    height: 55px;
}


/* Related Product */
.related-products-wrap {
    padding: 95px 0 0;
    margin: 0 0 -30px;
}
.related-products-wrap .rel-title {
    font-size: 36px;
    margin: 0 0 35px;
    text-transform: capitalize;
    letter-spacing: -1px;
}
.rel-product-slider-active .slick-list {
    padding: 0 0;
}
.rel-product-slider-active [class*='col-'] {
    padding-left: 15px;
    padding-right: 15px;
}

/* woocommerce Page Top */
.woocommerce .woocommerce-ordering,
.woocommerce-page .woocommerce-ordering {
    float: unset;
    margin: 0 0;
}

/* woocommerce Color */
.woocommerce .woocommerce-info,
.woocommerce .woocommerce-message {
    border-color: var(--tg-theme-primary);
}
.woocommerce .woocommerce-info::before,
.woocommerce .woocommerce-message::before {
    color: var(--tg-theme-primary);
}
.woocommerce .woocommerce-error,
.woocommerce .woocommerce-info,
.woocommerce .woocommerce-message {
    background-color: var(--tg-common-color-gray);
}
.woocommerce div.woocommerce-Message .button {
    padding: .618em 1em;
}
.eduvalt-page-content .woocommerce-error,
.eduvalt-page-content .woocommerce-info,
.eduvalt-page-content .woocommerce-message {
    padding: 1em 2em 1em 3.5em;
}

/* Woocommerce Button */
.woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles)) #respond input#submit,
.woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles)) a.button,
.woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles)) button.button,
.woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles)) input.button,
:where(body:not(.woocommerce-block-theme-has-button-styles)) .woocommerce #respond input#submit,
:where(body:not(.woocommerce-block-theme-has-button-styles)) .woocommerce a.button,
:where(body:not(.woocommerce-block-theme-has-button-styles)) .woocommerce button.button,
:where(body:not(.woocommerce-block-theme-has-button-styles)) .woocommerce input.button {
    padding: .618em 1em;
    color: #fff;
    background-color: var(--tg-theme-primary);
}
.woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles)) #respond input#submit:hover,
.woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles)) a.button:hover,
.woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles)) button.button:hover,
.woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles)) input.button:hover,
:where(body:not(.woocommerce-block-theme-has-button-styles)) .woocommerce #respond input#submit:hover,
:where(body:not(.woocommerce-block-theme-has-button-styles)) .woocommerce a.button:hover,
:where(body:not(.woocommerce-block-theme-has-button-styles)) .woocommerce button.button:hover,
:where(body:not(.woocommerce-block-theme-has-button-styles)) .woocommerce input.button:hover {
    color: #fff;
    background-color: var(--tg-theme-secondary);
}


/* Woocommerce Grouped */
.woocommerce div.product form.cart table,
.woocommerce div.product form.cart table.variations {
    border-width: 0 0 1px;
    width: 100%;
    flex: 0 0 auto;
    margin-bottom: 15px;
}
.woocommerce div.product form.cart .group_table td {
    vertical-align: middle;
    border: 1px solid #E6EAEF;
    padding: .5rem 1rem;
}
.woocommerce div.product form.cart .group_table td:first-child {
    width: 7em;
    text-align: center;
    padding: .7rem 1rem;
}
.woocommerce div.product form.cart .group_table td label {
    font-weight: 500;
}
.woocommerce-grouped-product-list-item__quantity .quantity {
    margin: 0 !important;
}
.woocommerce div.product form.cart table ins {
    text-decoration: none;
}
.woocommerce-grouped-product-list-item__price {
    font-weight: 500;
}
.woocommerce div.product form.cart .variations td,
.woocommerce div.product form.cart .variations th {
    vertical-align: middle;
}
.woocommerce div.product form.cart .variations select {
    margin-bottom: 12px;
    padding: 0px 5px;
    border: 1px solid #E6EAEF;
    box-sizing: border-box;
    clear: both;
    cursor: pointer;
    display: block;
    float: left;
    font-family: inherit;
    font-weight: normal;
    height: 45px;
    line-height: 40px;
    outline: none;
    padding-left: 18px;
    padding-right: 30px;
    position: relative;
    text-align: left !important;
    transition: all 0.2s ease-in-out;
    background: #fff url(../images/d_arrow.png) no-repeat scroll 97.5% center;
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    user-select: none;
    white-space: nowrap;
    width: auto;
    border-radius: 5px;
    color: var(--tg-heading-color);
    max-width: 100%;
    min-width: 75%;
    margin-right: 1em;
}
.woocommerce-variation-price {
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 24px;
    font-weight: 700;
    color: var(--tg-theme-primary);
    line-height: 1;
    font-family: var(--tg-heading-font-family);
}
.woocommerce div.product p.price,
.woocommerce div.product span.price {
    color: var(--tg-theme-primary);
    font-size: 24px;
}
.woocommerce div.product form.cart .reset_variations {
    font-size: 1em;
    font-weight: 500;
    line-height: 40px;
    display: inline-block;
}

/* woocommerce Login & Register */
.woocommerce form .form-row {
    padding: 3px;
    margin: 0 0 10px;
}
.woocommerce form.login,
.woocommerce form.register {
    border: 1px solid var(--tg-border-1);
    padding: 35px;
    border-radius: 5px;
    background: var(--tg-common-color-gray);
    min-height: 375px;
}
.woocommerce .woocommerce-MyAccount-content form .form-row input.input-text,
.woocommerce .woocommerce-MyAccount-content form .form-row textarea {
    width: 100%;
    margin: 0;
    outline: 0;
    line-height: normal;
    padding: 14px 20px;
    border-radius: 5px;
    outline: none;
    border: none;
    background: #fff;
}
.woocommerce .woocommerce-MyAccount-content .button,
.woocommerce .woocommerce-button.button {
    font-size: 14px;
    font-weight: 700;
    background: var(--tg-theme-primary);
    color: #fff;
    padding: 12px 25px;
}
.woocommerce .woocommerce-MyAccount-content .button:hover,
.woocommerce .woocommerce-button.button:hover {
    background: var(--tg-theme-secondary);
    color: #fff;
}
.woocommerce .button.woocommerce-form-login__submit,
.woocommerce .button.woocommerce-form-register__submit {
    padding: 16px 35px;
    text-transform: uppercase;
}
.woocommerce .woocommerce-form-login .woocommerce-form-login__rememberme {
    margin-top: 9px;
}
#customer_login .form-row:not(.woocommerce-form-row) {
    margin: 20px 0 10px;
}


/* woocommerce MyAccount */
.logged-in.woocommerce-account .tp-page-post>.woocommerce {
    display: flex;
    flex-direction: row;
}
.woocommerce-account .woocommerce-MyAccount-navigation {
    width: 30%;
    float: unset;
    background: var(--tg-common-color-gray);
    padding: 20px;
    border-radius: 5px;
}
.woocommerce-MyAccount-navigation ul {
	padding: 0;
	margin: 0;
}
.woocommerce-MyAccount-navigation ul li {
	list-style: none;
	margin-bottom: 12px;
}
.woocommerce-MyAccount-navigation ul li a {
	color: var(--tg-heading-color);
	font-weight: 500;
	display: flex;
	align-items: center;
	position: relative;
	font-size: 16px;
	background: #fff;
	line-height: 1;
  padding: 16px 25px;
	border-radius: 5px;
}
.woocommerce-MyAccount-navigation ul li a::before {
	content: "\f51c";
	display: block;
	font-family: "Font Awesome 5 Free";
	font-weight: 600;
	margin-right: 10px;
	color: var(--tg-theme-primary);
	font-size: 18px;
	-webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
   -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.woocommerce-MyAccount-navigation .woocommerce-MyAccount-navigation-link--orders a::before {
	content: "\f022";
}
.woocommerce-MyAccount-navigation .woocommerce-MyAccount-navigation-link--downloads a::before {
	content: "\f381";
}
.woocommerce-MyAccount-navigation .woocommerce-MyAccount-navigation-link--edit-address a::before {
	content: "\f5a0";
}
.woocommerce-MyAccount-navigation .woocommerce-MyAccount-navigation-link--edit-account a::before {
	content: "\f2bb";
}
.woocommerce-MyAccount-navigation .woocommerce-MyAccount-navigation-link--customer-logout a::before {
	content: "\f2f5";
}
.woocommerce-MyAccount-navigation ul li.is-active a,
.woocommerce-MyAccount-navigation ul li a:hover {
	background: var(--tg-theme-primary);
	color: #fff;
}
.woocommerce-MyAccount-navigation ul li.is-active a::before,
.woocommerce-MyAccount-navigation ul li a:hover::before {
	color: #fff;
}
.woocommerce-account .woocommerce-MyAccount-content {
	margin-left: 30px;
	background: var(--tg-common-color-gray);;
    padding: 30px;
	flex-grow: 1;
	border-radius: 5px;
    width: auto;
    float: unset;
}
.woocommerce .woocommerce-MyAccount-content .woocommerce-error,
.woocommerce .woocommerce-MyAccount-content .woocommerce-info,
.woocommerce .woocommerce-MyAccount-content .woocommerce-message {
    background-color: #fff;
}
.woocommerce-account .woocommerce-MyAccount-content .woocommerce-message {
	background: #fff;
}
.woocommerce-account .woocommerce-MyAccount-content h3 {
    font-size: 1.3rem;
}
.woocommerce-account .woocommerce-MyAccount-content .form-row > label {
	display: block;
}
.woocommerce-account .woocommerce-MyAccount-content [type="text"],
.woocommerce-account .woocommerce-MyAccount-content [type="email"],
.woocommerce-account .woocommerce-MyAccount-content [type="password"] {
    display: block;
    width: 100%;
    border: none;
    background: #ebe9eb;
    height: 45px;
    padding: 10px 25px;
	border-radius: 5px;
}
.woocommerce-MyAccount-content .woocommerce-form-row--wide > span {
    display: block;
    margin-top: 8px;
}
.woocommerce-MyAccount-content .woocommerce-Button {
	margin-top: 5px;
}
.woocommerce-MyAccount-content fieldset legend {
    color: var(--tg-heading-color);
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    font-family: var(--tg-heading-font-family);
    margin: 15px 0 15px;
}
.woocommerce-order-received section.woocommerce-customer-details .woocommerce-columns {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #efefef;
    padding: 40px 40px 30px;
}
.woocommerce-order-received .woocommerce-column--billing-address.col-1,
.woocommerce-order-received .woocommerce-column--shipping-address.col-2 {
    width: 50%;
}
.woocommerce-order-received .woocommerce-order-details {
    margin-top: 30px;
}
.woocommerce-order-received table.woocommerce-table--order-details {
    width: 100%;
    margin-bottom: 50px;
}
.woocommerce-order-received table.woocommerce-table--order-details,
.woocommerce-order-received .woocommerce-table--order-details tbody,
.woocommerce-order-received .woocommerce-table--order-details td,
.woocommerce-order-received .woocommerce-table--order-details tfoot,
.woocommerce-order-received .woocommerce-table--order-details th,
.woocommerce-order-received .woocommerce-table--order-details thead,
.woocommerce-order-received .woocommerce-table--order-details tr {
    text-align: left;
}
.woocommerce-MyAccount-content fieldset {
    margin: 0 0 15px;
}
.woocommerce .woocommerce-MyAccount-content button[type=submit] {
    padding: 16px 25px;
    text-transform: uppercase;
    border-radius: 5px;
}

/*=========================
00. Cart Page
===========================*/
.woocommerce table.shop_table th {
    border-color: #E6EAEF;
}
.woocommerce .cart-collaterals .cart_totals,
.woocommerce-page .cart-collaterals .cart_totals {
    float: unset;
    width: 100%;
}
.woocommerce-cart-form .actions .coupon {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.woocommerce-cart-form .coupon label {
    display: none;
}
.woocommerce-cart-form .actions .coupon #coupon_code {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 300px;
    margin-bottom: 0;
}
#coupon_code {
    height: 50px;
    background: var(--tg-common-color-gray);
    color: var(--tg-black);
    padding: 0 20px;
    margin-right: 10px;
    border: 0;
    border-radius: 5px;
    padding-right: 0;
}
.woocommerce-cart-form .actions .update-cart.btn,
.woocommerce-cart-form .actions .coupon .btn {
    padding: 17px 30px;
    line-height: 1;
}
.woocommerce .woocommerce-cart-form__contents a.remove {
    margin-left: auto;
    margin-right: auto;
    background: var(--tg-common-color-gray);
    line-height: 1.2;
}
.woocommerce .woocommerce-cart-form__contents a.remove:hover {
    background: red;
}
#add_payment_method table.cart img,
.woocommerce-cart table.cart img,
.woocommerce-checkout table.cart img {
    width: 65px;
}
.woocommerce-cart-form__cart-item .product-name a {
    font-weight: 500;
}
.cart-collaterals {
    margin: 80px 0 0;
}
.cart_totals h2 {
    font-size: 30px;
    margin: 0 0 20px;
    text-transform: capitalize;
}
#add_payment_method .wc-proceed-to-checkout a.checkout-button,
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button,
.woocommerce-checkout .wc-proceed-to-checkout a.checkout-button {
    font-size: 15px;
    padding: 17px 30px;
}
.woocommerce table.shop_table {
    border-collapse: collapse;
}
.woocommerce table.shop_table td {
    border-color: #E6EAEF;
}

/*=========================
00. WooCommerce Checkout
===========================*/
.woocommerce form .form-row input.input-text,
.woocommerce form .form-row textarea {
    width: 100%;
    margin: 0;
    outline: 0;
    line-height: normal;
    padding: 14px 20px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #E1E1E1;
    background: #fff;
}
.woocommerce form.checkout_coupon {
    border: none;
    padding: 0;
}
.woocommerce form.checkout_coupon .form-row {
    width: 100%;
}
.woocommerce-billing-fields .select2-container .select2-selection--single {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: 51px;
    margin: 0 0 -4px;
    user-select: none;
    -webkit-user-select: none;
    background-color: #fff;
    border: 1px solid #E1E1E1;
    border-radius: 5px;
    padding: 13px 13px;
}
.woocommerce-billing-fields .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 51px;
    top: 0;
    right: 10px;
}
.select2-container--default .select2-results__option--highlighted[aria-selected],
.select2-container--default .select2-results__option--highlighted[data-selected] {
    background-color: var(--tg-theme-primary);
}
#customer_form_details h3 {
    padding-bottom: .75rem;
    margin-bottom: .75rem;
    border-bottom: 1px solid #E1E1E1;
}
.woocommerce-additional-fields {
    margin: 20px 0 0;
}
#customer_details .woocommerce-additional-fields__field-wrapper .form-row .woocommerce-input-wrapper>textarea {
    min-height: 120px;
    resize: none;
    padding-top: 10px;
}
#add_payment_method #payment,
.woocommerce-cart #payment,
.woocommerce-checkout #payment {
    background: var(--tg-common-color-gray);
}
.woocommerce .wc_payment_methods .woocommerce-error,
.woocommerce .wc_payment_methods .woocommerce-info,
.woocommerce .wc_payment_methods .woocommerce-message {
    background-color: #fff;
}
.woocommerce-checkout #payment ul.payment_methods li {
    line-height: 1.6;
}
.woocommerce .woocommerce-checkout-review-order table th,
.woocommerce .woocommerce-checkout-review-order table td {
    text-align: left;
}
.woocommerce-billing-fields .select2-container--default .select2-selection--single .select2-selection__rendered {
    color: var(--tg-body-color);
}
.woocommerce-error,
.woocommerce-info,
.woocommerce-message {
    color: var(--tg-body-color);
}

/*=========================
07. Wishlist
===========================*/
.woocommerce .wishlist_item .product-action button {
    white-space: nowrap;
    background: var(--tg-theme-primary);
}
.woocommerce .wishlist_item .product-action button:hover {
    background: var(--tg-theme-secondary);
}
.woocommerce .wishlist_item .product-stock p {
    margin: 0 auto;
}
.woocommerce .wishlist_item .product-name a {
    font-weight: 600;
}
.woocommerce .tinv-wishlist .tinvwl_added_to_wishlist.tinv-modal button.button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .8em 1em;
}
.tinv-wishlist .tinvwl-buttons-group button i.ftinvwl-heart-o,
.tinv-wishlist .tinvwl-buttons-group button i.ftinvwl-times {
    top: -3px;
}
.tinv-modal-inner .tinvwl_button_close {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .8em 1em;
    background: var(--tg-theme-primary);
    color: #fff;
    border: none;
    font-weight: 700;
    line-height: 1;
    border-radius: 5px;
}
.tinv-modal-inner .tinvwl_button_close:hover {
    background: var(--tg-theme-secondary);
}
.tinv-wishlist .product-stock i {
    color: var(--tg-theme-secondary);
}


/*=========================
07. WooCommerce Pagination
===========================*/
.eduvalt-shop-pagination ul {
	display: flex;
	align-items: center;
    flex-wrap: wrap;
    gap: 10px 10px;
	justify-content: center;
	margin: 30px 0 0;
    padding: 0 0;
}
.eduvalt-shop-pagination ul li {
	display: block;
}
.eduvalt-shop-pagination ul li a,
.eduvalt-shop-pagination ul li .page-numbers {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    background: #E7EFFC;
    border-radius: 4px;
    font-size: 18px;
    color: var(--tg-heading-color);
    font-family: var(--tg-heading-font-family);
    font-weight: var(--tg-fw-medium);
}
.eduvalt-shop-pagination ul li a:hover,
.eduvalt-shop-pagination ul li .current {
    color: var(--tg-common-color-white);
    background: var(--tg-theme-primary);
}
.eduvalt-shop-pagination ul li .next,
.eduvalt-shop-pagination ul li .prev {
	font-size: 15px;
}

/* Sidebar Widget */
.woocommerce .shop-sidebar .product_list_widget li {
	display: flex;
	align-items: center;
	margin-bottom: 25px;
    gap: 20px;
    padding: 0 0;
}
.woocommerce .shop-sidebar .product_list_widget li::before,
.woocommerce .shop-sidebar .product_list_widget li::after {
    display: none;
}
.woocommerce .shop-sidebar .product_list_widget li:last-child {
	margin: 0 0;
}
.latest-products-thumb > a {
    display: block;
    width: 85px;
    height: 85px;
    background: #f3f3f3;
    padding: 13px;
    text-align: center;
}
.woocommerce .product_list_widget .latest-products-thumb img {
	max-width: 100%;
	max-height: 100%;
    float: none;
    width: 100%;
    margin: 0 0;
}
.product-widget-thumb-inner {
	max-width: 75px;
	background: #f5f5f5;
}
.latest-products-thumb {
	flex: 0 0 auto;
}
.latest-products-content > .lp-post-rating > li {
    font-size: 12px;
    margin-bottom: 10px;
    color: #ffb400;
    letter-spacing: 1.5px;
}
.latest-products-content {
	overflow: hidden;
	flex-grow: 1;
}
.latest-products-content .title {
    font-size: 15px;
    margin-bottom: 10px;
    text-transform: capitalize;
    font-weight: 500;
}
.woocommerce .product_list_widget .latest-products-content .title a {
    font-weight: inherit;
    color: inherit;
}
.woocommerce .product_list_widget .latest-products-content .title a:hover {
    color: var(--tg-theme-primary);
}
.latest-products-content .title a:hover {
    color: #F8BC24;
}
.latest-products-content .woocommerce-Price-amount {
    font-size: 16px;
    color: var(--tg-theme-primary);
    font-weight: 600;
    line-height: 1;
}
.latest-products-content .title a {
	display: block;
}
.latest-products-content ins {
    text-decoration: none;
}
.shop-content .rating .star-rating {
    margin: 0 0;
}
.woocommerce .latest-products-content .star-rating {
    font-size: 10px;
    width: 75px;
}

.widget_price_filter form {
    position: relative;
}
.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content {
    border-radius: 0;
    background-color: #ebebeb;
    border: 0;
    height: 6px;
    margin: 0 0 15px;
}
.woocommerce .widget_price_filter .ui-slider .ui-slider-range {
    position: absolute;
    display: block;
    width: 100%;
    height: 6px;
    border: 0;
    background-color: var(--tg-theme-primary);
    border-radius: 0;
    z-index: 1;
}
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle {
    left: 0%;
    position: absolute;
    z-index: 2;
    outline: 0;
    cursor: pointer;
    background-color: var(--tg-theme-primary);
    border-radius: 100%;
    border: 0;
    height: 14px;
    top: -4px;
    width: 14px;
    margin: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
}
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle:last-child {
    left: 100%;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}
.price_slider_amount {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.price_slider_amount .button {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    height: auto;
    margin-left: auto;
    padding: 0;
    border: 0;
    background-color: transparent;
}
.price_slider_amount .price_label {
    font-size: 14px;
    font-weight: 500;
    color: var(--tg-heading-color);
    font-family: var(--tg-heading-font-family);
}
.woocommerce .widget_price_filter .price_slider_amount .button {
    margin-left: auto;
    text-transform: uppercase;
    transition: all .3s ease-out 0s;
    cursor: pointer;
    padding: 9px 16px 7px 16px;
    color: #fff;
    font-size: 14px;
    text-align: center;
    background: var(--tg-theme-primary);
    font-weight: 600;
    justify-content: center;
    border-radius: 4px;
}
.woocommerce .widget_price_filter .price_slider_amount .button:hover {
    color: #fff;
    background: var(--tg-theme-secondary);
}
.widget_price_filter .widget-title::after {
    display: none;
}
.widget_rating_filter .wc-layered-nav-rating .star-rating {
    margin: 0 0;
}
.woocommerce .widget_rating_filter ul li {
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
}
.woocommerce .widget_rating_filter ul li a {
    display: flex;
    padding: 0 0;
    align-items: center;
    color: var(--tg-body-color);
    font-size: 15px;
    gap: 3px;
}
.woocommerce .widget_rating_filter ul li a:hover span {
    background: transparent;
}

.woocommerce-product-search {
  position: relative;
}
.woocommerce-product-search input {
  display: block;
  width: 100%;
  height: 55px;
  padding: 12px 50px 12px 25px;
  border: 1px solid #ECECEC;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
}
.woocommerce-product-search input::placeholder {
  opacity: 0.7;
}
.woocommerce-product-search button {
  position: absolute;
  right: 18px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  padding: 0 0;
  background: transparent;
  font-size: 22px;
  color: var(--tg-theme-primary);
}
.woocommerce-product-search button i::before {
  font-weight: 600 !important;
}
.shop-widget .product-categories li .float-right {
    font-weight: 500;
}
.shop-widget .product-categories li a {
    color: var(--tg-body-color);
}
.shop-widget .product-categories li a:hover {
    color: var(--tg-theme-primary);
}

/* Laptop Device */
@media (max-width: 1500px) {
.woocommerce-account .woocommerce-MyAccount-navigation {
    width: 33%;
}

}


/* LG Device */
@media (max-width: 1199.98px) {
.woocommerce-account .woocommerce-MyAccount-navigation {
    width: 28%;
}
.cart-collaterals {
    margin: 60px 0 0;
}
.shop-details-flex-wrap .flex-viewport {
    margin-left: 0;
}
.woocommerce div.shop-details-flex-wrap div.images .flex-control-thumbs {
    margin: 20px 0 0;
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

}

/* MD Device */
@media (max-width: 991.98px) {
.woocommerce-account .woocommerce-MyAccount-navigation {
    width: 40%;
}
.woocommerce form.login,
.woocommerce form.register {
    padding: 30px;
    min-height: auto;
}
.woocommerce-cart-form .actions .coupon #coupon_code {
    width: 250px;
}
.cart-collaterals {
    margin: 40px 0 0;
}
#review_form_wrapper .comment-form {
    padding: 30px;
}
.shop-details-content {
    padding-left: 0;
}


}

/* XS Device */
@media (max-width: 767.98px) {
.logged-in.woocommerce-account .tp-page-post > .woocommerce {
    display: block;
}
.woocommerce-account .woocommerce-MyAccount-navigation {
    width: 100%;
    margin: 0 0 30px;
}
.woocommerce-MyAccount-content {
    margin-left: 0;
}
.woocommerce-MyAccount-content {
    margin-left: 0;
    padding: 25px;
}
.woocommerce-account .woocommerce-MyAccount-content [type="text"],
.woocommerce-account .woocommerce-MyAccount-content [type="email"],
.woocommerce-account .woocommerce-MyAccount-content [type="password"] {
    padding: 10px 20px;
}
.woocommerce-account .woocommerce-MyAccount-content {
    margin-left: 0;
    padding: 25px;
}
.eduvalt-page-content .woocommerce-error,
.eduvalt-page-content .woocommerce-info,
.eduvalt-page-content .woocommerce-message {
    padding: 1em 1em 1em 2.8em;
    display: flex;
    flex-direction: column-reverse;
}
.woocommerce-form-coupon-toggle .woocommerce-error,
.woocommerce-form-coupon-toggle .woocommerce-info,
.woocommerce-form-coupon-toggle .woocommerce-message {
    flex-direction: column;
    line-height: 1.35;
}
.woocommerce-error::before,
.woocommerce-info::before,
.woocommerce-message::before {
    left: 1em;
}
.woocommerce .woocommerce-Message .woocommerce-Button {
    margin-top: 10px;
}
.woocommerce form.login,
.woocommerce form.register {
    padding: 25px;
    margin-top: 1em;
}
#customer_login h2 {
    font-size: 28px;
    margin: 0 0;
}
.woocommerce-cart-form .actions .coupon {
    display: block;
}
.woocommerce-cart-form .actions .coupon #coupon_code {
    width: 100%;
    margin: 0 0 10px !important;
    float: unset;
    padding: 0 20px;
}
.woocommerce-page table.cart td.actions .coupon {
    text-align: center;
}
.woocommerce-page table.cart .text-end.f-right {
    float: unset;
    text-align: center !important;
}
.woocommerce table.cart .quantity {
    margin-left: auto;
}
.woocommerce table.cart .product-quantity::before {
    margin: 12px 0 0;
}
.woocommerce table.shop_table_responsive .actions,
.woocommerce-page table.shop_table_responsive .actions {
    background-color: transparent !important;
}
.cart_totals h2 {
    font-size: 28px;
}
.order-review-wrapper {
    margin: 50px 0 0;
}
.woocommerce form .form-row-first,
.woocommerce form .form-row-last,
.woocommerce-page form .form-row-first,
.woocommerce-page form .form-row-last {
    width: 100%;
}
.woocommerce-Reviews .comment_container {
    flex-direction: column;
    gap: 20px;
}
#review_form_wrapper .comment-form {
    padding: 25px;
}
.shop-top-left p {
    text-align: center;
}
.shop-top-right {
    justify-content: center;
}
.related-products-wrap .rel-title {
    font-size: 29px;
}

}

/* Small devices (landscape phones, 576px and up) */
@media only screen and (min-width: 576px) and (max-width: 767px) {
.woocommerce-error,
.woocommerce-info,
.woocommerce-message {
    flex-direction: row-reverse;
    justify-content: flex-end;
}
.woocommerce-form-coupon-toggle .woocommerce-error,
.woocommerce-form-coupon-toggle .woocommerce-info,
.woocommerce-form-coupon-toggle .woocommerce-message {
    flex-direction: row;
    justify-content: flex-start;
    gap: 5px;
}
.woocommerce .woocommerce-Message .woocommerce-Button {
    margin-top: 0;
    margin-left: auto;
}
.woocommerce form .form-row-first,
.woocommerce form .form-row-last,
.woocommerce-page form .form-row-first,
.woocommerce-page form .form-row-last {
    width: 47%;
}
.shop-top-left p {
    text-align: left;
}
.shop-top-right {
    justify-content: flex-end;
}
.related-products-wrap .rel-title {
    font-size: 36px;
}

}